#saber-mais {
      text-decoration: none;
      background-color: #FDD3E0;
      border-width: 2px;
      border-style: solid;
      padding: 5px 12px;
      font-size: 22px;
      border-radius: 42px;
      color: white;
      margin-bottom: 22px;
      transition: 
            color 0.15s,
            background-color 0.15s,
            opacity 0.05s,
            padding 0.15s
      ;
}

#saber-mais:hover {
      background-color: white;
      color: #E19BAF;
      border-color: #eeb9c8;
      padding: 5px 18px;
}

#saber-mais:active {
      opacity: 0.8;
      padding: 5px 14px;
}

.comprar {
      text-decoration: none;
      text-align: center;
      background-color: #E19BAF;
      color: white;
      padding: 4px 23px;
      font-size: 23px;
      margin: 20px 12px;
      border-radius: 30px;
      transition: all 0.08s;
}

.comprar:hover {
      padding: 4px 30px;
}

.comprar:active {
      opacity: 0.7;
      padding: 4px 27px;
}

#ver_mais {
      text-decoration: none;
      text-align: center;
      font-size: 28px;
      background-color: #ee679428;
      color: white;
      padding: 2px 38px;
      border-radius: 100px;
      border-width: 2px;
      border-style: solid;
      margin-top: 80px;
      transition: 0.08s;
}

#ver_mais:hover {
      background-color: #fff;
      color: #FAD5E1;
      padding: 3px 47px;
}
#ver_mais:active {
      opacity: 0.8;
      padding: 2.5px 44px;
}